<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60019553844-vcdlieaouv8v0esh200pgqr0facnisge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60019553844-vcdlieaouv8v0esh200pgqr0facnisge</string>
	<key>API_KEY</key>
	<string>AIzaSyDLy6ZUqwABps2l5uW7HAtB9GmQtYCEmLg</string>
	<key>GCM_SENDER_ID</key>
	<string>60019553844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reyes.sincomil</string>
	<key>PROJECT_ID</key>
	<string>sincomil</string>
	<key>STORAGE_BUCKET</key>
	<string>sincomil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60019553844:ios:92dd59a1d2a1d9432d7c61</string>
</dict>
</plist>